{% extends 'base.html' %}
{% block content %}

    {% if form.errors %}
        <p class = "error">Sorry, that's not a valid username or password</p>
    {% endif %}

    <form action = "/accounts/auth/" method = "post">{% csrf_token %}
        <p>
        <label for="username">Username:</label>
        <input type="text" name = "username" value="" id="username">
        </p>

        <p>
        <label for="password">Password:</label>
        <input type="password" name="password" value="" id="password">
        </p>

        <input type="submit" value="login" />

    </form>

    Not registered? Click <a href="/accounts/register/">here!</a>
{% endblock %}